@font-face {
  font-family: 'IowanOldStyleBT-Roman';
  src: url('../fonts/IowanOldStyleBT-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/IowanOldStyleBT-Roman.woff') format('woff'), url('../fonts/IowanOldStyleBT-Roman.ttf')  format('truetype'), url('../fonts/IowanOldStyleBT-Roman.svg#IowanOldStyleBT-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
